---
import { ProjectsIcon } from "../../icons";
import projects from "../../data/projectsDB.json"
import ProjectCard from "../ui/ProjectCard.astro";
---

<section id="proyectos" class="text-left w-full px-24 mx-auto my-16 mt-28">
  <div class="flex space-x-4 items-end mb-12">
    <ProjectsIcon className="h-8 w-8" />
    <h2 class="text-4xl text-white font-bold">Proyectos</h2>
  </div>
  <div class="flex flex-col space-y-6">
    {projects.map((project, index) => (
      <ProjectCard key={index} project={project} />
    ))}
  </div>
</section>
