---
import ExperienceSection from "../components/sections/ExperienceSection.astro";
import Hero from "../components/sections/Hero.astro";
import ProjectSection from "../components/sections/ProjectSection.astro";
import SkillsSection from "../components/sections/SkillsSection.astro";
import Header from "../components/ui/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <Hero />
  <ProjectSection />
  <SkillsSection />
  <ExperienceSection />
  <section class="about mt-12">
    <h2 class="text-2xl font-bold">Sobre Mí</h2>
    <p class="mt-4">Información personal relevante y habilidades.</p>
  </section>
</Layout>
