<header
  class="fixed top-0 left-0 w-full bg-neutral-800/80 backdrop-blur-lg z-50"
>
  <nav class="container mx-auto px-6 py-4">
    <ul class="flex space-x-8 justify-center text-white text-lg font-semibold">
      <li>
        <a
          href="#inicio"
          class="hover:text-blue-400 transition-colors duration-300">Inicio</a
        >
      </li>
      <li>
        <a
          href="#proyectos"
          class="hover:text-blue-400 transition-colors duration-300"
          >Proyectos</a
        >
      </li>
      <li>
        <a
          href="#experiencia"
          class="hover:text-blue-400 transition-colors duration-300"
          >Experiencia</a
        >
      </li>
      <li>
        <a
          href="#tecnologias"
          class="hover:text-blue-400 transition-colors duration-300"
          >Tecnologias</a
        >
      </li>
      <li>
        <a
          href="#sobre-mi"
          class="hover:text-blue-400 transition-colors duration-300">Sobre Mí</a
        >
      </li>
      <li>
        <a
          href="#educacion"
          class="hover:text-blue-400 transition-colors duration-300"
          >Educación</a
        >
      </li>
    </ul>
  </nav>
</header>
